.track-info {
  display:inline-block;
  width: 200px;
  height: 200px;
  margin:2px;
}

img{
  width: 200px;
  height: 200px;
}

.popup{
  position:absolute;
  /*z-index:1;*/
  top:2em;
  /*right:10em;
  left:10em;*/
  text-align:center;
  min-width:15em;
  max-width:5em;
  background: rgba(0, 0, 0, 0.5);
  height:100px;
  display:block;
}
.popup .modal {
  /*z-index:1;*/
  margin-left:auto;
  margin-right:auto;
  min-width:15em;
  min-height:5em;
  margin-top: 0em;
  background: #FFF;
  border: 2px solid #B4b4b4;
  border-radius: 1em;
  box-shadow: 10px 6px 0px #CCC;
  padding:2em;
}

button {
  height:2em;
  width:4em;
/*  background-color: blue;*/
  border-radius:5px;
  content:"Hide";
}

.show-info {
  padding:1em;
  text-align: left;
  display:inline-block;
  width: 6em;
  text-decoration:none;
  cursor:pointer;
  margin-left:auto;
  margin-right:auto;
}
